body {
    font-family: system-ui, sans-serif;
}

table {
    border-spacing: 0 0.25rem;
    display: block;
    overflow: auto;
    white-space: nowrap;
}

.team-0 td {
    background-color: #ff000066;
    border-color: rgba(255, 0, 0, 0.6);
}

.team-1 td {
    background-color: #006aff66;
    border-color: #006aff99;
}

.team-2 td {
    background-color: #00ff0066;
    border-color: #00ff0099;
}

.team-3 td {
    background-color: #ffff0066;
    border-color: #ffff0099;
}

.team-4 td {
    background-color: #ff80ff66;
    border-color: #ff80ff99;
}

.team-5 td {
    background-color: #c8712466;
    border-color: #c8712499;
}

.team-6 td {
    background-color: #00caf266;
    border-color: #00caf299;
}

.team-7 td {
    background-color: #9d4cff66;
    border-color: #9d4cff99;
}

td {
    border-style: solid;
    border-width: 0.125rem 0 0.125rem 0;
    padding: 0.25rem 0.5rem;
}

td:first-child {
    border-left-width: 0.125rem;
    border-radius: 0.5rem 0 0 0.5rem;
}

td:last-child {
    border-right-width: 0.125rem;
    border-radius: 0 0.5rem 0.5rem 0;
}

td:nth-child(3), td:nth-child(4), td:nth-child(5) {
    text-align: right;
}

a {
    color: inherit;
}
